<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="shortcut icon" href="img/icon.png" type="image/png">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <section>
        <div id="div1">
            <span id="search"><form method="get">
                <input id="s_query" name="s_text" type="text" placeholder="Search city name here">
                <input class="material-symbols-outlined s-icon" type="submit" value="&#xe8b6;">
            </form></span>
            <span id="grp"><span class="info"><span id="city">{{city}}</span><span id="time">Wed | 22 Jun |
                        1:09pm</span></span>
                <span class="info"><span id="temp">{{temp}}&#xb0;C</span><span id="feel">Real
                        feel:{{Realtemp}}&#xb0;C</span></span></span>
            <span class="material-icons cond">sunny</span>
        </div>
        <div id="div2">
            <span class="gr2">
                <span class="head">Weather</span>
                <span id="weather" class="content">{{weather}}</span>
                <span class="head">Min temp</span>
                <span class="content">{{mintemp}}&#xb0;C</span>
                <span class="head">Max temp</span>
                <span class="content">{{maxtemp}}&#xb0;C</span>
                <span class="head">Pressure</span>
                <span class="content">{{pressure}}hPa</span>
            </span>
            <span class="gr2 flex2">
                <span class="head">Wind speed</span>
                <span class="content">{{speed}} km/h</span>
                <span class="head">humidity</span>
                <span class="content">{{humidity}}%</span>
                <span class="head">Visibility</span>
                <span class="content">{{visibility}} km</span>
                <span class="head">Cloud cover</span>
                <span class="content">{{cover}}%</span>
            </span>
        </div>
    </section>
    <script src="index.js">
    </script>
</body>

</html>